body {
  color: black;
  background-color: rgba(182, 101, 55, 0.842);
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', Sans-serif;
}



.section-one {
  display: flex;
  flex-direction: column;
}

.logo-and-links {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(199, 195, 195);
  margin: -10px -10px 0px -10px;
  padding: 0px 15px 0px 15px;
  border-bottom: 5px solid black;
}

.logo {
  margin-top: -40px;
  margin-bottom: -40px;
  width: 450px;
  height: auto;
}

.header-links {
  display: flex;
  flex: 0 0 auto;
  font-size: 20px;
}

.header-links ul {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}

.header-links ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-left: 30px;
}

.top-content-and-img {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-evenly;
  margin: 0px -10px 0px -10px;
  background-color: rgb(255, 255, 255);
}

.top-content {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 25px 0px 25px;
  width: 400px;
  border: 5px solid black;
  margin: 20px;
}

.top-content-title {
  font-size: 25px;
  font-weight: bold;
}

.subtitles {
  margin-top: -6px;
}

button {
  background-color: tan;
  width: 90px;
  padding: 5px;
}

.top-img {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  margin: 20px;
}

.top-img img {
  flex: 0 0 auto;
  width: 175px;
  height: 200px;
}



.section-two {

}

.section-two-info {

}

.gallery {

}

.gallery-images {

}

.gallery-text {

}



.section-three {

}

.quote {

}

.quote-body {

}

.quote-author {

}



.section-four {

}

.cta-text {

}

.cta-title {

}
