body {
  color: black;
  background-color: rgba(182, 101, 55, 0.842);
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', Sans-serif;
}

html {
  min-width: 750px;
}



.section-one {
  display: flex;
  flex-direction: column;
  margin: -10px -10px 0px -10px;
}

.logo-and-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(199, 195, 195);
  padding: 0px 15px 0px 15px;
  margin-right: -10px;
  border-bottom: 5px solid black;
}

.logo {
  margin-top: -40px;
  margin-bottom: -40px;
  width: 450px;
  height: auto;
}

.header-links {
  display: flex;
  font-size: 20px;
  padding-right: 10px;
}

.header-links ul {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}

.header-links ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-left: 30px;
}

.header-links ul li a:hover {
  border: 3px solid black;
  background-color: rgb(158, 157, 157);
  border-radius: 10px;
}

.top-content-and-img {
  display: flex;
  justify-content: space-evenly;
  margin: 0px -10px 0px -10px;
  background-color: rgb(255, 255, 255);
}

.top-content {
  display: flex;
  flex-direction: column;
  padding: 0px 25px 0px 25px;
  margin: 20px;
  max-width: 400px;
  min-width: 200px;
}

.top-content-title {
  font-size: 25px;
  font-weight: bold;
}

.subtitles {
  margin-top: -6px;
}

button {
  background-color: tan;
  width: 90px;
  padding: 5px;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(199, 195, 195);
}

.top-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px 20px;
  min-width: 220px;
  max-width: 460px;
}

.coffee-one {
  min-width: 80px;
  max-width: 140px;
  flex-basis: 140px;
}

.coffee-two {
  min-width: 60px;
  max-width: 120px;
  flex-basis: 120px;;
}

.squiggle {
  min-width: 75px;
  max-width: 200px;
}

#s1 {
  margin-left: 20px;
}

#s2 {
  margin-right: 10px;
}




.section-two {
  display: flex;
  flex-direction: column;
}

.section-two-info {
  font-size: 30px;
  font-weight: bold;
  flex: 0 0 auto;
  align-self: center;
  margin: 10px 0px -10px 0px;
  flex-wrap: wrap;
}

.gallery-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0px -10px 10px 0px;
  padding-bottom: 40px;
  border-bottom: 3px dotted black;
  flex-wrap: wrap
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  background-color: rgb(158, 157, 157);
  flex-wrap: wrap;
  margin: 20px 10px 0px 0px;
  
}

.gallery-images {
  width: 225px;
  height: auto;
}

.gallery-text {
  width: 200px;
  height: auto;
  margin: 10px;
  font-size: 17.5px;
  font-weight: 500;
  text-align: center;
}



.section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 195, 195);
  margin: 20px -20px 0px -10px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  flex-wrap: wrap;
}

.quote {
  margin: 0px 30px 0px 30px;
}

.quote-body {
  font-style: italic;
  font-size: 27.5px;
}

.quote-author {
  font-size: 22.5px;
  font-weight: 600;
}



.section-four {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 30px 15px 30px;
  margin: 25px -5px 15px 5px;
  border: 3px double black;
}

.cta-text {
  margin-right: 100px;
}

.cta-title {
  font-size: 17.5px;
  font-weight: bold;
}